@import '../../sass/variables.scss';

.main_container {
  display: flex;
  flex-direction: column;
  align-items: space-between;
  background-color: $background-color-light;
  border-radius: 0.8rem;
  padding: 2rem;

  h2 {
    margin-bottom: 1rem;
  }

  .reminders_container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-gap: 1rem;
  }

  .reminder_card {
    border-style: solid;
    border-radius: 0.8rem;
    border-color: $secondary-color-fade;
    padding: 1rem;

    * {
      width: 100%;
      input {
        margin-bottom: 0.5rem;
      }
    }

    .forecast_icon {
      display: flex;
      justify-content:center;
      align-items:center;
      height: 3rem;
      font-size: 20px;
    }

    @mixin button(){
      display:flex;
      align-items: center;
      justify-content:center;
      color: white;
      border:none;
      border-radius: 0.8rem;
      height: 2rem;

      svg{
        height: 1.5rem;
      }

    }

    button.create_reminder {
      @include button();
      background-color: $highlight-color;
    }

    button.delete_reminder {
      @include button();
      background-color: #e82a2a;
    }
  }

  .field_container {
    label {
      display: block;
    }
  }
}
